* {
    margin: 0;
    padding: 0;
    cursor: url('../assets/CursorSmol.png'), auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-image: url(../assets/Tafel.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.book {
    max-width: 1000px;
    display: grid;
    gap: 3em;

    background-image: url(assets/Openboek_mobile.png);
    background-size: 105% 100%;
    background-repeat: no-repeat;

    padding-inline-start: 5em;
    padding-block: 5em;
    padding-inline-end: 1em;
    border-radius: 12px;

    width: 1000px;
    height: 650px;
}

.book h1 {
    grid-column: 1 / -1;
    padding-inline-start: 2em;
    font-size: 2rem;
    color: #333;
}

@media (min-width: 700px) {
    .book {
        grid-template-columns: 1fr 1fr;
        background-image: url(../assets/Openboek_desktop.png);
        background-size: 100% 100%;
        padding-inline: 5em;
        padding-block: 3em;
    }
}

.page h2 {
    margin-bottom: 1em;
}
.page img {
    display: block;
    margin: 0 auto;
    width: 70%;              
    max-width: 260px;        
    height: auto;           
    max-height: 195px;       
    object-fit: cover;       
    border-radius: 6px;
    margin-top: 1em;
    margin-bottom: 1em;
}


.locatieTag {
    font-size: .8rem;
    color: #777;
}



/*.book section img {
    width: 70%;
    max-width: 250px;
    height: auto;
    max-height: 300px;
    border-radius: 6px;
    object-fit: cover;
}*/
.pageFlip {
    display: contents;
}

.pageFlip a:first-child {
    grid-column: 1;
    justify-self: start;
    align-self: end;
}

.pageFlip a:last-child {
    grid-column: 2;
    justify-self: end;
    align-self: end;
}

a {
    cursor: pointer;
}
.arrowLink {
    width: 40%;
    padding: .5em;
    border-radius: .5em;
    transition-duration: .5s;
}

.arrowLink:hover {
    background-color: #D5D3C1;
}

.flipped {
    margin-left: 90%;
}

