:root{

  --cover-w: 500px;
  --cover-h: 700px;

  --page-w: 500px;
  --page-h: 700px;
}

@media (max-width: 700px){
  :root{
    --cover-w: 260px;
    --cover-h: 364px;
    --page-w: 260px;
    --page-h: 364px;
  }
}

body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
   background-image: url(../assets/Tafel.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.scene{ perspective: 2200px; }

.book{
  position: relative;
  width: var(--cover-w);
  height: var(--cover-h);
  transform-style: preserve-3d;
  transition: transform .6s ease;
}


.book[data-open="true"]{
  transform: translateX(calc(var(--page-w) * 0.5));
}


/* RECHTER PAGINA  */
.page--right{
  position: absolute;
  top: 0;
  left: 0;
  width: var(--page-w);
  height: var(--page-h);
  z-index: 1;
  opacity: 0;
  transition: opacity .25s ease .1s;
  pointer-events: none;
}
.book[data-open="true"] .page--right{
  opacity: 1;
  pointer-events: auto;
}

/*  COVER  */
.cover{
  position: absolute;
  top: 0;
  left: 0;
  width: var(--cover-w);
  height: var(--cover-h);
  z-index: 3;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: left center;
  transition: transform .6s ease;
  transform: rotateY(0deg);
}
.book[data-open="true"] .cover{
  transform: rotateY(-180deg);
}

.face{
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
}

.face--back{
  transform: rotateY(180deg);
}

.page-img,
.face-img{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
}


.page-link{
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 22px;
  border-radius: 999px;
  background: rgba(202, 135, 203, 0.85);
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #f7f3f3;
  text-decoration: none;
  box-shadow: 0 2px 6px rgba(0,0,0,.15);
}
.page-link:hover{ background: #eb88e3; }